.icon {
  font-size: 20px;
  transition: transform 0.2s, margin 200ms, translateY 0.2s, color 0.2s,
    background 0.2s;
}

.icon:hover {
  transform: scale(1.4) translateY(-10px);
  margin: 20px;
}

.seperate {
  margin: 40px solid red;
}

.AppIconlight {
  color: #1f1f1f;
  background: #fff;
  border-radius: 13px;

  height: 49px;
  width: 49px;
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.AppIcondark {
  color: #ececec;
  background: #1f1f1f;
  border-radius: 16px;

  height: 50px;
  width: 50px;
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}
