.icon {
  font-size: 20px;
  transition: transform 0.2s, margin 200ms, translateY 0.2s, color 0.2s,
    background 0.2s;
}

.IconContainer {
  display: flex;
  flex-direction: column;
  align-self: start;
}

.icon:hover {
  transform: scale(1.4) translateY(-20px);
  margin: 20px 20px 0px 20px;
}

.seperate {
  margin: 40px solid red;
}

.bounce {
  animation: clicked 0.75s infinite;
  overflow: visible;
}

@media screen and (max-width: 650px) {
  .icon:hover{
    transform: none;
    margin: 0px;
  }
}

@keyframes clicked {
  0% {
    transform: translateY(0) ease-in;
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0) ease-out;
  }
}

.AppIconlight {
  color: #1f1f1f;
  background: #fff;
  border-radius: 11px;

  height: 46px;
  width: 46px;
  margin: 7px 5px 2px 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.AppIcondark {
  color: #ececec;
  background: #1f1f1f;
  border-radius: 11px;

  height: 46px;
  width: 46px;
  margin: 7px 5px 2px 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  color: rgba(255, 255, 255, 0.4);
  font-size: 4px;
  margin-top: 2px;
}

.AppIcon--label{
	display: absolute;
}

.icon2:hover ~ .dot {
  display: none;
}
