.AppPage{
    height: 30vh;
    width: 30vw;
    position: absolute;
    left: 35vw;
    right: 35vw;
    top: 30vh;
    background-color:antiquewhite;
    border-radius: 10px;
    background: rgba(83, 83, 83, 0.3);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    
}
.HeaderPage{
    width: auto;
    height: 20px;
    border-radius: 10px 10px 0 0;
    background: #f3eef2;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}
.dotnav{
    color:#ff6058;
    font-size: 10px;
    position: absolute;
    left:10px;
    top:20%;
}
.dotnav:hover{
    color:#dd251b;
    transition-duration: 0.5s;
}
.yellow{
    color: #fdbe2d;
    left:30px;
}
.yellow:hover{
    color:#e29e00;
    transition-duration: 0.5s;
}
.green{
    color: #28c940;
    left:50px;
}

.green:hover{
    color:#00bb00;
    transition-duration: 0.5s;
}

.ContainerText{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
}
.TitlePage{
    margin: 20px 0px 10px 10px;
    text-align: left;
    font-size:25px;
        
}
.TextPage{
    margin: 10px 0px 0px 10px;
    text-align: left;
    font-size:13px;
    font-weight: 400;
}

.PrePara{
    margin: 0px 10px 10px 10px;
    text-align: left;
    font-size:13px;
    font-weight: 400;;
}

.Seperator {
    height: 0.2px;
    border-width:0;
    background-color:#fff;
    color:#fff;
    width: 30%;
    text-align: left;
    margin: 15px 10px 10px 10px;
  }

.Footer{
    text-align: center;
}

.Avatar{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    position: relative;
    right:30px;
    margin-bottom:0px;
}

.Display{
    display: inline-block;
}

.TextDisplay{
    margin:auto;
    padding:10px 0 20px 0;
}

@media screen and (max-width: 500px) {
    .AppPage{
    height:35vh;
    width: 90vw;
    left: 5vw;
    right: 5vw;
    }
    .Avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    position: relative;
    right:10px;
    margin-bottom:20px;
    }
    .TextDisplay{
    margin:auto;
    padding:10px 0 20px 0;
    }
    .TitlePage{
    font-size: 20px;
    }
    .TextPage{
    font-size: 12px;
    }
    .PrePara{
    font-size: 12px;
    }
}

@media screen and (max-width: 1368px) {
    .AppPage{
        height:35vh;
        width: 32vw;
        left: 34vw;
        right: 34vw;
        }
        .Avatar{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        right:10px;
        margin-bottom:20px;
        }
        .TextDisplay{
        margin:auto;
        padding:10px 0 20px 0;
        }
        .TitlePage{
        font-size: 20px;
        }
        .TextPage{
        font-size: 12px;
        }
        .PrePara{
        font-size: 12px;
        }
}

@media screen and (max-width: 1280px){
    .AppPage{
        height:35vh;
        width: 32vw;
        left: 34vw;
        right: 34vw;
        }
        .Avatar{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        right:10px;
        margin-bottom:20px;
        }
        .TextDisplay{
        margin:auto;
        padding:10px 0 20px 0;
        }
        .TitlePage{
        font-size: 20px;
        }
        .TextPage{
        font-size: 12px;
        }
        .PrePara{
        font-size: 12px;
        }
}
@media screen and (max-width: 1024px){
    .AppPage{
        height:35vh;
        width: 35vw;
        left: 32.5vw;
        right: 32.5vw;
        }
        .Avatar{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        right:10px;
        margin-bottom:10px;
        }
        .TextDisplay{
        margin:auto;
        padding:0px 0 20px 0;
        }
        .TitlePage{
        font-size: 15px;
        }
        .TextPage{
        font-size: 10px;
        }
        .PrePara{
        font-size: 10px;
        }
}

@media screen and (max-width: 950px){
    .AppPage{
        top:10vh;
        height:65vh;
        width: 45vw;
        left: 27.5vw;
        right: 27.5vw;
        }
        .Avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        right:10px;
        margin-bottom:10px;
        }
        .TextDisplay{
        margin:auto;
        padding:0px 0 0px 0;
        }
        .TitlePage{
        font-size: 15px;
        }
        .TextPage{
        font-size: 10px;
        }
        .PrePara{
        font-size: 10px;
        }
}

@media screen and (max-width:720px) {
    .AppPage{
        top:13vh;
        height:63vh;
        width: 55vw;
        left: 22.5vw;
        right: 22.5vw;
        }
        .Avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        right:10px;
        margin-bottom:20px;
        }
        .TextDisplay{
        margin:auto;
        }
        .TitlePage{
        font-size: 15px;
        }
        .TextPage{
        font-size: 10px;
        }
        .PrePara{
        font-size: 10px;
        }
}

