.Applight {
  text-align: center;

  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(./assets/macos-big-sur.jpg);
}

.Appdark {
  text-align: center;

  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(./assets/macos-monterey.jpg);
}

.App {
  transition: background-image 1s;
}

.AppPage{
  height: auto;
  padding-bottom: 2em;

  width: 60vw;
  margin: 5em auto 6em auto;    

  background-color:antiquewhite;
  border-radius: 10px;
  background: rgba(83, 83, 83, 0.3);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  
}
.HeaderPage{
  width: auto;
  height: 20px;
  border-radius: 10px 10px 0 0;
  background: #f3eef2;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  text-align: left;
  justify-content: left;
  margin-bottom:1em;
}

.dotnav{
  background-color:#ff6058;
  width:10px;
  height:10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}
.dotnav:hover{
  background-color:#b62119;
  transition-duration: 0.5s;
}
.yellow{
  background-color: #fdbe2d;
}
.yellow:hover{
  background-color:#b6871b;
  transition-duration: 0.5s;
}
.green{
  background-color: #28c940;
}

.green:hover{
  background-color:#0e9c0e;
  transition-duration: 0.5s;
}

.Footer{
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Media query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .AppPage{
      width: 95vw;
      margin: 2em auto 4em auto;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .AppPage{
      width: 95vw;
      margin: 2em auto 4em auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .AppPage{
      width: 95vw;
      margin: 3em auto 6em auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .AppPage{
      width: 95vw;
      margin: 3em auto 6em auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .AppPage{
      width: 60vw;
      margin: 3em auto 6em auto;
  }
}