.Applight {
  text-align: center;
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(./asset/macos-big-sur.jpg);
}
/* ê cái đoạn duration nếu chưa xong animation thì nó sẽ k animate cái đoạn chuyển sau */
.Appdark {
  text-align: center;

  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(./asset/macos-monterey.jpg);
}

.App {
  transition: background-image 1s;
}

h1 {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
